{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}

	{% block main %}
		<section>
			<h2>Crée ta catégorie !</h2>
			<article>

				{{form(form)}}

				</article>
			</section>
		{% endblock %}

	{% endblock %}
