{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}

	{% block main %}
		<section>
			<h2>Nos Catégories !</h2>
			<article>

				{% for category in categories %}
					<div class="card">
						<h3>
							{{ category.name }}
						</h3>
						<p>
							{{category.description}}
						</p>
						<a href="{{ path('category-posts', {name: category.name}) }}">Voir</a>
					</div>
				{% endfor %}

			</article>
		</section>
	{% endblock %}

{% endblock %}
