/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
  /*****************************************************RESET******************************************************************/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

menu,
ul,
li {
  padding: 0;
  margin: 0;
}

p,
a,
h4,
button,
span {
  font-size: 1.6rem;
  color: #1b1b1b;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.872rem;
}

h1,
h2,
h3 {
  color: black;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: large;
  border-radius: 2rem;
  color: #1b1b1b;
}

a:hover {
  color: #990d35;
}

/*****************************************************RESET******************************************************************/
/********************************ALL COLORS***********************************************************************/
/*
Purple Heart	#5F27CD	Primary
Bleached Cedar	#1f1420	Text
SHIP COVE	    #7299B9	light accent
HIPPIE PINK	    #B5415A	Dark accent
BLEACHED CEDAR	#1F1420	Dark shades
CARARRA         #F5F6F2 Light shades
/*



/*******************************************************************************************************************/
header {
  background-color: #f5f6f2;
  width: 100%;
  padding: 2rem 0;
  border-bottom: #dcddd7 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  margin: 0 2rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  background-color: #f5f6f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.container {
  max-width: 1920px;
  width: 100%;
}

main div.container div.img {
  height: 50rem;
}

main div.container section {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main div.container section h2 {
  margin: 7rem 0;
  color: #1b1b1b;
  font-weight: bold;
}

main div.container section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main div.container section article div.card {
  background-color: #fff;
  width: 25rem;
  padding: 1.5%;
  border-radius: 2rem;
}

main div.container section article div.card h3 {
  color: #1b1b1b;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: large;
}

main div.container section article div.card p {
  color: #1b1b1b;
  text-align: justify;
}

main div.container section article div.card a.btn {
  color: #990d35;
}

main div.container section article div.card:hover {
  background-color: #348aa7;
  cursor: pointer;
}

footer {
  background-color: #f5f6f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: #dcddd7 solid 1px;
}

footer nav {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */