<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blogger.io
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link
		rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="{{ path('home') }}">Blogger.io</a>
			</div>
			<nav>
				<a href="{{ path('category') }}">Category</a>
				<a href="{{ path('post') }}">Post</a>
				<a href="#">link_start</a>
				<a href="#">link_start</a>
				<a href="#">link_start</a>
			</nav>
			<div class="avatar">A</div>
		</header>

		<main>
			<div class="container">
				<div class="img"></div>
				{% block main %}{% endblock %}
			</div>
		</main>

		<footer>
			<nav>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
				<a href="#">Ze foo tèr</a>
			</nav>
		</footer>
	</body>
</html>
