{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}

	{% block main %}
		<section>
			<h2>Crée ton article !</h2>
			<article>
				<div>
					{{	form(form)	}}
					</div>


				</article>
			</section>
		{% endblock %}

	{% endblock %}
